.board-postit {
  width: 100px;
  height: 100px;
  margin: 5px;
  display: inline-block;
  padding: 2%;

  &-id {
    color: #bbb;
    font-size: 11px;
    text-align: right;
    font-style: italic;
    padding: 3px 3px 10px 0 ;
  }
  &-title  {
    color: #666;
  }

}
