.login {
  margin: 5% auto 0;
  width: 30%;
  height: 30%;
  padding: 1%;

  &__inputs {
    width: 100%;
    text-align: center;
  }

  &__input {
    padding: 1px;
  }

  &__actions {
    text-align: center;
    padding-top: 3%;
  }
}
