.board-component-body-row-elementbox {
  padding: 1%;
  width: 11%;
  border-left: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;

  &:first-child {
    text-align: left;
    font-weight: 400;
    border-left: none;
  }

  &:not(.name) {
    &.hovering {
      background: #E0F2F1;
    }
  }

  //  'unassigned' text design
  .board-component-body-row:first-child & {
    &:first-child {
      font-style: italic;
      color: #666;
    }
  }
}
