.board-component {
  border: 1px #999 solid;
  margin: 0 3%;
  cursor: default;

  &-header {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #999;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    color: #999;

    &-column {
      display: inline-block;
      padding: 1%;
      width: 11%;
      vertical-align: middle;
    }
  }
}
