table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;

  thead {
    tr {
      th {
        font-weight: bold;
        border: 1px solid black;
      }
    }
  }

  tbody {
    tr {
      td {
        border: 1px solid black;
      }
    }
  }
}
