.board-component-body-row {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #aaa;
  // COLORING OF BODY
  &:nth-child(even) {
    background: #ededed;
  }

  &:nth-child(odd) {
    background: #f7f7f7;
  }

  &:hover {
    background: #E0F2F1;
  }

  &:last-child {
    border-bottom: none;
  }
}
